/* line 33, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 40, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 48, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 55, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 69, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 82, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 88, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 109, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 122, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 127, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 132, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 137, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 142, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 147, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 153, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 159, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 163, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 168, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 174, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 181, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 188, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 196, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 203, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 210, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 216, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 222, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 228, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 235, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 239, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 253, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 257, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 264, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 270, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 283, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 289, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 300, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 311, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 316, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 325, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 339, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 349, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 358, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 372, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 380, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 389, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 399, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 409, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 415, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 422, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 434, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 27, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 9, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 67, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 93, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 98, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 104, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("/fonts/league_gothic-webfont.eot");
  src: url("/fonts/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/league_gothic-webfont.woff") format("woff"), url("/fonts/league_gothic-webfont.ttf") format("truetype"), url("/fonts/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayThin';
  src: url("/fonts/raleway_thin-webfont.eot");
  src: url("/fonts/raleway_thin-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway_thin-webfont.woff") format("woff"), url("/fonts/raleway_thin-webfont.ttf") format("truetype"), url("/fonts/raleway_thin-webfont.svg#RalewayThin") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 25, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 29, ../sass/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 33, ../sass/partials/_page.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 34, ../sass/partials/_page.scss */
a:hover {
  color: #003366;
}

/* line 36, ../sass/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 38, ../sass/partials/_page.scss */
small {
  font-size: 13px;
}

/* line 43, ../sass/partials/_page.scss */
input:invalid, textarea:invalid {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 5px 0 red;
  -moz-box-shadow: 0 0 5px 0 red;
  box-shadow: 0 0 5px 0 red;
}

/* line 48, ../sass/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 51, ../sass/partials/_page.scss */
body {
  background-color: #c6c6c6;
  font: 1em/1 "RalewayThin", sans-serif;
}

/* line 56, ../sass/partials/_page.scss */
#container {
  position: relative;
  width: 1100px;
  height: 750px;
  background: url("/images/github_background.png");
  margin: 0 auto;
}
/* line 62, ../sass/partials/_page.scss */
#container img {
  position: absolute;
  top: 100px;
  left: 567px;
  width: 150px;
  height: 100px;
}

/* line 71, ../sass/partials/_page.scss */
header {
  position: absolute;
  top: 100px;
  left: 330px;
  font: 2em/1 'LeagueGothicRegular', sans-serif;
  font-size: 1.4em;
  text-align: center;
  letter-spacing: 0.1em;
}
/* line 79, ../sass/partials/_page.scss */
header h1 {
  display: inline-block;
}
/* line 81, ../sass/partials/_page.scss */
header h1 span {
  display: inline-block;
  width: 200px;
}

/* line 88, ../sass/partials/_page.scss */
#main {
  position: absolute;
  top: 190px;
  left: 330px;
  width: 440px;
  margin: 0 auto;
}
/* line 94, ../sass/partials/_page.scss */
#main p {
  margin: 10px 0;
  line-height: 1.4;
  font-size: 1em;
}

/* line 101, ../sass/partials/_page.scss */
#links {
  position: absolute;
  bottom: 100px;
  left: 275px;
}
/* line 106, ../sass/partials/_page.scss */
#links .icon {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 90px;
  height: 120px;
  background-image: url("/images/github_icons.png");
}
/* line 115, ../sass/partials/_page.scss */
#links .icon:hover {
  background-repeat: no-repeat;
  height: 140px;
}
/* line 120, ../sass/partials/_page.scss */
#links .icon.twitter {
  background-position: 0 0;
}
/* line 123, ../sass/partials/_page.scss */
#links .icon.twitter:hover {
  background-position: 0 -115px;
}
/* line 128, ../sass/partials/_page.scss */
#links .icon.linkedin {
  left: 115px;
  background-position: -98px 0;
}
/* line 132, ../sass/partials/_page.scss */
#links .icon.linkedin:hover {
  background-position: -98px -115px;
}
/* line 137, ../sass/partials/_page.scss */
#links .icon.facebook {
  left: 230px;
  background-position: -197px 0;
}
/* line 141, ../sass/partials/_page.scss */
#links .icon.facebook:hover {
  height: 140px;
  background-position: -197px -115px;
}
/* line 147, ../sass/partials/_page.scss */
#links .icon.github {
  left: 342px;
  background-position: -290px 0;
}
/* line 151, ../sass/partials/_page.scss */
#links .icon.github:hover {
  height: 140px;
  background-position: -290px -115px;
}
/* line 157, ../sass/partials/_page.scss */
#links .icon.flickr {
  left: 455px;
  background-position: -385px 0;
}
/* line 161, ../sass/partials/_page.scss */
#links .icon.flickr:hover {
  height: 140px;
  background-position: -385px -115px;
}

/* line 169, ../sass/partials/_page.scss */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*/mediaquery*/
/*/mediaquery*/
@media print {
  /* line 11, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 19, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 23, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 37, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 42, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 47, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 52, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 56, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 66, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 72, ../../../../.rvm/gems/ruby-2.0.0-p195@peter-murach/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
