/* line 14, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 34, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 40, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 11, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 53, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 58, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 80, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* line 84, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* line 88, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 99, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 118, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 125, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  zoom: 1;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 62, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:after {
  clear: both;
}

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("/fonts/league_gothic-webfont.eot");
  src: url("/fonts/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/league_gothic-webfont.woff") format("woff"), url("/fonts/league_gothic-webfont.ttf") format("truetype"), url("/fonts/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayThin';
  src: url("/fonts/raleway_thin-webfont.eot");
  src: url("/fonts/raleway_thin-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway_thin-webfont.woff") format("woff"), url("/fonts/raleway_thin-webfont.ttf") format("truetype"), url("/fonts/raleway_thin-webfont.svg#RalewayThin") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 25, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 29, ../sass/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 33, ../sass/partials/_page.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 34, ../sass/partials/_page.scss */
a:hover {
  color: #003366;
}

/* line 36, ../sass/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 38, ../sass/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 43, ../sass/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px 0 red;
  -webkit-box-shadow: 0 0 5px 0 red;
  -o-box-shadow: 0 0 5px 0 red;
  box-shadow: 0 0 5px 0 red;
}

/* line 48, ../sass/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 51, ../sass/partials/_page.scss */
body {
  background-color: #c6c6c6;
  font: 1em/1 "RalewayThin", sans-serif;
}

/* line 56, ../sass/partials/_page.scss */
#container {
  position: relative;
  width: 1100px;
  height: 750px;
  background: url("/images/github_background.png");
  margin: 0 auto;
}
/* line 62, ../sass/partials/_page.scss */
#container img {
  position: absolute;
  top: 100px;
  left: 567px;
  width: 150px;
  height: 100px;
}

/* line 71, ../sass/partials/_page.scss */
header {
  position: absolute;
  top: 130px;
  left: 330px;
  font: 2em/1 "LeagueGothicRegular", sans-serif;
  font-size: 3em;
  text-align: center;
}
/* line 78, ../sass/partials/_page.scss */
header h1 {
  display: inline-block;
}
/* line 80, ../sass/partials/_page.scss */
header h1 span {
  display: inline-block;
  width: 200px;
}

/* line 87, ../sass/partials/_page.scss */
#main {
  position: absolute;
  top: 190px;
  left: 330px;
  width: 440px;
  margin: 0 auto;
}
/* line 93, ../sass/partials/_page.scss */
#main p {
  margin: 10px 0;
  line-height: 1.4;
}

/* line 99, ../sass/partials/_page.scss */
#links {
  position: absolute;
  bottom: 100px;
  left: 275px;
}
/* line 103, ../sass/partials/_page.scss */
#links a#twitter {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 120px;
  background: url("/images/github_icons.png") 0 0;
}
/* line 111, ../sass/partials/_page.scss */
#links a#twitter:hover {
  height: 140px;
  background: url("/images/github_icons.png") 0 -115px;
}
/* line 116, ../sass/partials/_page.scss */
#links a#linkedin {
  position: absolute;
  bottom: 0;
  left: 115px;
  display: block;
  width: 90px;
  height: 120px;
  background: url("/images/github_icons.png") -100px 0;
}
/* line 124, ../sass/partials/_page.scss */
#links a#linkedin:hover {
  height: 140px;
  background: url("/images/github_icons.png") -100px -115px;
}
/* line 129, ../sass/partials/_page.scss */
#links a#facebook {
  position: absolute;
  bottom: 0;
  left: 230px;
  display: block;
  width: 90px;
  height: 120px;
  background: url("/images/github_icons.png") -200px 0;
}
/* line 137, ../sass/partials/_page.scss */
#links a#facebook:hover {
  height: 140px;
  background: url("/images/github_icons.png") -200px -115px;
}
/* line 142, ../sass/partials/_page.scss */
#links a#github {
  position: absolute;
  bottom: 0;
  left: 338px;
  display: block;
  width: 90px;
  height: 120px;
  background: url("/images/github_icons.png") -290px 0;
}
/* line 150, ../sass/partials/_page.scss */
#links a#github:hover {
  height: 140px;
  background: url("/images/github_icons.png") -290px -115px;
}
/* line 155, ../sass/partials/_page.scss */
#links a#contact {
  position: absolute;
  bottom: 0;
  left: 455px;
  display: block;
  width: 90px;
  height: 120px;
  background: url("/images/github_icons.png") -390px 0;
}
/* line 163, ../sass/partials/_page.scss */
#links a#contact:hover {
  height: 140px;
  background: url("/images/github_icons.png") -390px -115px;
}

/* line 171, ../sass/partials/_page.scss */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*/mediaquery*/
/*/mediaquery*/
@media print {
  /* line 10, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 13, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../.rvm/gems/ruby-1.9.3-p0@peter-murach/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
