<!DOCTYPE HTML>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <meta content="Piotr Murach" name="author" />
    <meta content='' name='description' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <title>{{ page.title }}</title>
    <link href='css/application.css' media='all' rel='stylesheet' type='text/css'/>
    <script data-main="js/application" src="js/require.js"></script>
  </head>
  <body>
    <div id='container'>
      <header>
        <h1>PIOTR MURACH</h1>
      </header>

      <img src='/images/face.png' alt='Piotr Murach picture' title='Piotr Murach picture'/>

      <div id='main' role='main'>
        {{ content }}
      </div>

      <div id="links" role='social-links'>
        <a class='icon twitter' href="http://twitter.com/piotr_murach" rel='author'></a>
        <a class='icon linkedin' href="http://www.linkedin.com/pub/piotr-murach/24/96b/1a8"  rel='author'></a>
        <a class='icon facebook' href="http://en-gb.facebook.com/people/Piotr-Murach/519350568" rel='author' type="text/html"></a>
        <a class='icon github' href="https://github.com/peter-murach" rel='author'></a>
        <a class='icon flickr'  href="http://www.flickr.com/photos/piotr_murach/" rel='author'></a>
      </div>

      <footer>
        Copyright &copy; 2013 Piotr Murach
      </footer>
    </div>

    <script type='text/javascript'>
      //<![CDATA[
        var _gaq=[["_setAccount","UA-27982470-1"],["_trackPageview"],["_trackPageLoadTime"]];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g,s)}(document,"script"));
      //]]>
    </script>
  </body>
</html>
